*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

#container{
    width: 100%;
    
}
#menubar{
    display:flex;
}
#header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#header div{
    width: 37%;
}

#Dining{
    background-image:url("https://rivaresorts.com/wp-content/uploads/2025/06/rivabeachresort-img09.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(252, 245, 245);
}
#Dining h1{
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 2px;
    z-index: 1;
}

#Dtext{
    padding: 100px 20px;
    text-align: center;
    letter-spacing: 2px;
}



#D1 {
    width: 85%;
    margin: 120px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#D1 img {
    width: 55%;
    height: 600px;
    object-fit: cover;
    display: block;
}
#D1 .content {
    width: 45%;
}
.section-title {
    width: 85%;
    margin: 80px auto 40px auto;
    font-size: 42px;
    font-weight: 400;
}
#D1 h2 {
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 25px;
}
#D1 p {
    font-size: 17px;
    line-height: 1.9;
    color: #444;
    margin-bottom: 25px;
    max-width: 520px;
}







#DRL {
  position: relative;
  height: 500px;
  background: url("https://rivaresorts.com/wp-content/themes/rivaresort/images/dine-bg.webp") center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px 40px;
}
#DRL h2 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 10px;
  color: white;
}
#DRL p {
  font-size: 17px;
  letter-spacing: 1.6px;
  color: white;
}



#Img {
  width: 100%;
  padding: 100px 0;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;                 
  position: relative;
}
#Img .img1 {
  flex: 1;
  width: 100%;
  max-width: 400px;          
  height: 550px;
  overflow: hidden;
}
#Img .img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}



footer {
    background: linear-gradient(to right, #1f1f1f, #2c2c2c);
    color: #e5e5e5;
    padding: 80px 0 30px;
}
.footer-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}
.footer-col {
    flex: 1;
    min-width: 220px;
}
.footer-col h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #ffffff;
}

.footer-divider {
    width: 85%;
    margin: 50px auto 25px;
    border-top: 1px solid #444;
}







@media (max-width: 768px) {

  #DRL {
    min-height: auto;
    padding: 100px 20px;
    background-position: center;
  }

  #DRL .content {
    flex-direction: column;
    gap: 50px;
  }

  #DRL h2 {
    font-size: 28px;
  }

  #DRL p {
    font-size: 15px;
  }
}